#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.container {
  display: flex;
  flex-direction: row;
}
.hero-container {
  position: relative;
  width: 100%;
  margin-left: 10px;
  max-width: 500px;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}
.overlay {
  position: absolute; 
  top: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  opacity:1;
  color: white;
  font-size: 15px;
  text-align: center;
}